<div class="page">
  <video id="movie" autoplay="true" loop="true" id="myVideo" [muted]= 'true' >
    <source src="../assets/video.mp4" type="video/mp4">
  </video>
  <div style="text-align:center" class="items">
    <div class="topnav" style="text-align:left">
      <a class="topbar">The Issues</a>
      <a class="topbar">About Us</a>
      <a class="topbar">About Bernie</a>
      <a class="topbar">Events</a>
      <a class="topbar">Volunteer</a>
      <a class="topbar" href="https://store.berniesanders.com/?utm_source=website-splash&utm_medium=navigation">Store</a>
      <a class="donate" href="https://secure.actblue.com/donate/bern-site?refcode=splash-top-right">Donate</a>
      <img src="../assets/bernlogo.jpg" class="bernlogo" >
    </div>

    <div class="break"></div>
    <div class="header-content">
      <h1 class="slogan">Not me. <em>Us</em>.</h1>
      <h4 class="text">No one candidate, not even the greatest candidate you could imagine, is capable of taking on Donald Trump and the billionaire class alone. There is only one way we win. And that is together. </h4>
      <h4 class="ask">Add your name to tell Bernie you're in! </h4>
      <input type="text" name="email" placeholder="Email Address"><input type="text" name="zip" placeholder="Zip Code"><a class="button">Add Your Name!</a>
    </div>
  </div>
</div>
